@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --accent-color: #d3efff;
  --button-color: #85c1e4;
  --border-color: #383838;
}

body {
  background-color: #fff;
}


h6 {
  padding: 5px 10px;
  text-align: center;
}

.no-weather-message {
  font-size: 1.5rem;
  padding: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 35px;
  background-color: var(--accent-color);
  border-bottom: 1px solid var(--border-color); 
}

.app-logo {
  color: #fff;
  text-shadow: 2px 2px var(--border-color);
}

.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 0 30px;
}

.current-weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.weekly-weather-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.upcoming-weather-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: clamp(100px, 150px, 200px);
}

input { 
  width: 100%;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 8px;
}

input:focus {
  outline: none;
}

#search-location-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  cursor: pointer;
}

#search-location-btn {
  width: 100px;
  padding: 8px;
  background-color: var(--button-color);
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 1px 1px var(--border-color);
  border: 1px solid var(--border-color); 
  border-radius: 10px;
}

.weather-icon {
  width: 200px;
  height: 200px;
}

#week-weather-icon {
  width: 50px;
  height: 50px;
}
